*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: url("/static/img/background-small.png") no-repeat center center #fff;
  background-size: cover;
  box-sizing: border-box;

  @media screen and (min-width: 540px) {
    background: url("/static/img/background.png") no-repeat center center #fff;
    background-size: cover;
  }
}

.container {
  max-width: 160rem;
  margin: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.header {
  margin-bottom: 2rem;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
  text-align: center;
  background: #fff;
}

textarea {
  min-height: 20rem;
  resize: none;
  background: #fff;
}

.text-center {
  text-align: center;
}

.button-large {
  font-size: 1.4rem;
  height: 4.5rem;
  line-height: 4.5rem;
  padding: 0 2rem;
  transition: height 0.3s;
}

.button-loading {
  width: 5rem;
  height: 5rem;
  font-size: 0;
  border-radius: 50%;

  animation-name: loading;
  animation-duration: 1.5s;
  animation-delay: 0.3s;
  animation-timing-function: ease;
  animation-direction: normal;
  animation-play-state: running;
  animation-iteration-count: infinite;
}

.error {
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid #b50000;
  background: #d60000;
  color: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 2px #b7b7b7;
}

.footer {
  padding: 2rem 2rem;
  background: #9b4dca;
  color: #fff;

  @media screen and (min-width: 40rem) {
    padding: 2rem 10rem;
  }

  & a {
    color: currentColor;
    text-decoration: underline;

    &:hover {
      color: #ccc;
    }
  }
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}

@keyframes loading {
  0% {
    box-shadow: 0 0 0 15px #fff inset;
  }
  50% {
    box-shadow: 0 0 0 5px #fff inset;
  }
  100% {
    box-shadow: 0 0 0 15px #fff inset;
  }
}
